
.edit-table{
    /* color:blue; */
    font-size: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
    text-align: center;
   background: url('https://us.123rf.com/450wm/olegdudko/olegdudko1508/olegdudko150800346/43200439-books-studying-scripture-.jpg?ver=6');

    background-size: cover;
}
.btn-freestyle{
      margin-right: 20px;
}
/* .btn-freestyle:hover{
    color: #d10f0f;
} */

/* All Bill */
.row-edit{
    width: 61%;
    text-align: center;
}
/* Login */
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.header-card{
    text-align: center;
        font-size: 35px;
    font-weight: bold;
    color: cornflowerblue;
}

/* User */
.sum-user{
    font-size: 24px;
}
.hihi{
   position: relative;
    top: -35px;
    left: 320px;
    color: red;
}
.pos-col{
    text-align: center;

}
.input-edit {
    width: 55%;
}
.done-btn{
        position: fixed;
    top: 35%;
    left: 30%;
}
.done-btn2{
        position: fixed;
    top: 70%;
    left: 50%;
}
.input-newuser{
    margin-bottom: 20px;
     position: relative;
    left: 30%;
    width: 40%;
    text-align: center;
    height: 69px;
    top: 10px;
}
.delete-user{
        width: 55%;
    text-align: center;
    position: relative;
    left: 22%;
    height: 70px;
}
.admin-text{
    position: relative;
        top: -39px;
    left: 187px;
}
.edit1{
   position: absolute;
    top: 37%;
    left: 9%;
}

.main{
    position: relative;
    margin-bottom: 62px;
    font-size: 70px;
}

#search{
    width: 30%;
    position: relative;
    left: 70%;
    top: -21px;
}
.img-search{
        width: 25px;
    position: relative;
    left: 98%;
    top: 10px;
    border-right: 16px;
    z-index: 100;
}
/* updateuser  */

.update-user{
        position: relative;
    top: 8px;
    left: 572px;
}
.button-center{
       position: absolute;
    top: 10%;
    left: 50%;
}

.del-input{
     position: relative;
    text-align: center;
    width: 20%;
    height: 25px;
}
.new-book-btn{
    position: relative;
    left: 26%;
}